.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #232F3E;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}


.App-body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: navy;
}
.App-body-description {
  color: #232F3E;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -200px;
}

.logo {
  padding-top: 50px;
  align-content: center;
  padding-bottom:50px;

}
.mic {
  color: navy;
  font-size: 20rem;
  padding-top: 20px;
}
.mic2 {
  color: #da1b02;
  font-size: 20rem;
  padding-top: 20px;
}
.mic:hover {
  color: #00004d;
  
}

.text{
  margin-top: -75px;
}

.greentext{
  margin-top: -75px;
  color:green;
}

.text2{
  margin-top: -75px;
  color:red;
}

.check{
  color:green;
  font-size: 20rem;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
